---
layout: default
---


<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ site.title  }}
      </h1>
      <h2 class="subtitle">
        {{ site.description  }}
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent">
              <div class="tile is-child">
                <p class="title">About Us</p>
                <p class="subtitle"> </p>
                <p>
                  {{ page.about_us}}
                </p>
              </div>
          </div>
          <div class="tile is-parent is-vertical is-6">
            <div class="tile is-child">
              <p class="title">Last News</p>
              <p class="subtitle"> </p>
                {% for post in site.posts limit:3 %}
                <article>
                  {{ post.date | date: "%b %d, %Y" }}, <a href="{{ post.url }}"> 
                    <strong> {{ post.title }}</strong>: {{ post.description }} 
                  </a>
                </article>
                {% endfor %}
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile is-parent">
              <div class="tile is-child">
                <p class="title">Projects</p>
                <p class="subtitle"></p>
                <p>
                  {% for project in site.data.projects %}
                  <article>
                     <a href="{{ project.url }}"> {{ project.name }} </a> | {{ project.description | markdownify | strip_html }}
                  </article>
                  {% endfor %}
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
